/* Design system */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $textColor;
}

h1, .h1 {
  color: $textColor;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $primaryColor;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
span, p {
  line-height: 1.2;
}

h1, .h1 {
font-size: 2.2rem;
}

h2, .h2{
  font-size: 1.8rem;
}

h3, .h3 {
  font-size: 1.6rem;
}

h4, .h4 {
  font-size: 1.4rem;
}

h5, .h5,
h6, .h6 {
  font-size: 1.2rem;
}

span {
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: $primaryColor;
  &:hover {
    color: $textColor;
  }
}

h1 + *,
h2 + * ,
h3 + * ,
h4 + * ,
h5 + * ,
h6 + * ,
span + *,
p + *,
a + *,
ul + * {
  margin-top: 1.5rem;
}

@media  screen and (min-width:768px) {
  h1, .h1 {
    font-size: 2.8rem;
    }
    
    h2, .h2{
      font-size: 2rem;
    }
    
    h3, .h3 {
      font-size: 1.8rem;
    }
    
    h4, .h4 {
      font-size: 1.6rem;
    }
    
    h5, .h5{
      font-size: 1.4rem;
    }

    h6, .h6 {
      font-size: 1.2rem;
    }
}

.main {
  width: 800px;
  margin: 0 auto;
}

.container {
  margin: 0 2rem;
}